@model ShiftHub.Models.HomeModels

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Advarsel</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <table width="100%">
                    <tr>
                        <td align="left" valign="top">
                            <span class="fw-semibold">Bruger er <u>ikke</u> mødt til sin vagt?</span>
                            <hr />
                            <b>@Html.Raw($"{Model.Data.aTable.Rows[0]["Name"]}")</b><br />
                            <i>@Html.Raw($"{Model.Data.aTable.Rows[0]["Mail"]}")</i><br />
                            <i>@Html.Raw($"{Model.Data.aTable.Rows[0]["Phone"]}")</i><br />
                            <hr />
                            <i>Vagt overskredet med: 
                                
                                @if (Convert.ToInt32($"{Convert.ToString($"{Model.Data.bTable.Rows[0]["Min"]}").Replace("-", "")}") < 60)
                                {
                                    @Html.Raw(Convert.ToString($"{Model.Data.bTable.Rows[0]["Min"]}").Replace("-", "") + " Minutter")
                                }
                                else
                                {
                                    @Html.Raw($"{(Convert.ToInt32($"{Convert.ToString($"{Model.Data.bTable.Rows[0]["Min"]}").Replace("-", "")}") / 60)} Timer {(Convert.ToInt32($"{Convert.ToString($"{Model.Data.bTable.Rows[0]["Min"]}").Replace("-", "")}") - ((Convert.ToInt32($"{Convert.ToString($"{Model.Data.bTable.Rows[0]["Min"]}").Replace("-", "")}") / 60) * 60))} Min.")
                                }
                            </i><br />
                        </td>
                        <td align="center" valign="top" width="20px">
                            <div class="sh-vdivider"></div>
                        </td>
                        <td align="left" valign="top" width="150px">
                            <button type="button" class="btn btn-outline-dark w-100 mb-2" onclick="StaffSnooz(15)">
                                Udskyd 15 Min
                            </button>
                            <button type="button" class="btn btn-outline-dark w-100 mb-2" onclick="StaffSnooz(30)">
                                Udskyd 30 Min
                            </button>
                            <button type="button" class="btn btn-outline-dark w-100 mb-2" onclick="StaffSnooz(60)">
                                Udskyd 60 Min
                            </button>
                            <button type="button" class="btn btn-outline-danger w-100" onclick="StaffAbsent()">
                                Udeblevet
                            </button>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Luk</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function StaffSnooz(min) {
        var PlaceHolderElement = $('#PopUpPlaceholder');
        var subGroupId = document.getElementById("SubGroupValue").value;

        $.ajax({
            type: 'POST',
            url: "/Home/_AlertSnooz",
            data: { SubGroupId: subGroupId, ShiftId: @Html.Raw($"{Model.Data.bTable.Rows[0]["Id"]}"), StaffId: @Html.Raw($"{Model.Data.aTable.Rows[0]["Id"]}"), Min: min }
        }).done(function (returned) {
            PlaceHolderElement.find('.modal').modal('hide');

            updateStaffs('once');
        });
    }
    function StaffAbsent() {
        var PlaceHolderElement = $('#PopUpPlaceholder');
        var subGroupId = document.getElementById("SubGroupValue").value;

        $.ajax({
            type: 'POST',
            url: "/Home/_AlertAbsent",
            data: { SubGroupId: subGroupId, ShiftId: @Html.Raw($"{Model.Data.bTable.Rows[0]["Id"]}"), StaffId: @Html.Raw($"{Model.Data.aTable.Rows[0]["Id"]}") }
        }).done(function (returned) {
            PlaceHolderElement.find('.modal').modal('hide');

            updateStaffs('once');
        });
    }

</script>