@model ShiftHub.Models.HomeModels
@{
    /// Title
    ViewData["Title"] = "Brugere";

    /// Messages
    foreach (ShiftHub.Models.MessageModel.Message item in Model.Messages.aList)
    {
        <div class="alert alert-@item.Type.ToString().ToLower() sh-alert" role="alert">
            <span class="sh-alert-icon">
                @switch (item.Type.ToString())
                {
                    case "Info":
                        <i class="bi bi-info-circle"></i>
                        break;
                    case "Success":
                        <i class="bi bi-check-circle"></i>
                        break;
                    case "Warning":
                        <i class="bi bi-exclamation-circle"></i>
                        break;
                    case "Danger":
                        <i class="bi bi-exclamation-diamond"></i>
                        break;
                }
            </span>
            <span class="sh-alert-body">@item.Content</span>
            <button type="button" id="@item.UiD" class="btn-close ms-auto" data-bs-dismiss="alert" title="Luk"></button>
        </div>
        @if (item.Type.ToString() != "Danger")
        {
            <script type="text/javascript">
                setTimeout(function () {
                    document.getElementById('@item.UiD').click();
                }, @item.AutoClose);
            </script>
        }
    }
}

<div id="PopUpPlaceholder"></div>

<div class="container">
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />

    <table id="UserTable">
        <thead>
            <tr>
                <th>
                    Brugernavn
                </th>
                <th>
                    Fuldenavn
                </th>
                <th>
                    Mail
                </th>
                <th>
                    Telefon
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (System.Data.DataRow aRow in Model.Data.aTable.Rows)
            {
                <tr>
                    <td>
                        @Html.Raw($"{aRow["Username"]}")
                    </td>
                    <td>
                        @Html.Raw($"{aRow["DisplayName"]}")
                    </td>
                    <td>
                        @Html.Raw($"{aRow["Mail"]}")
                    </td>
                    <td>
                        @Html.Raw($"{aRow["Phone"]}")
                    </td>
                    <td>
                        @if (Convert.ToInt32($"{aRow["Id"]}") != Model.UserDetails.UserId)
                        {
                            if ($"{aRow["Id"]}" == "1")
                            {
                                <i>Root User</i>
                            }
                            else
                            {
                                <ul class="nav navbar-nav">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle text-dark" data-bs-toggle="dropdown">Menu</a>
                                        <ul class="dropdown-menu small">
                                            <li><button type="button" class="btn btn-outline-dark btn-sm w-100" data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("EditUser", "Home", new { UserId = Convert.ToInt32(aRow["Id"]) })" title="">Rediger</button></li>
                                            <li><button type="button" class="btn btn-outline-dark btn-sm w-100" data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("DeleteUser", "Home", new { UserId = Convert.ToInt32(aRow["Id"]) })" title="">Slet</button></li>
                                        </ul>
                                    </li>
                                </ul>
                            }
                        }
                        else
                        {
                            <i>Din Bruger</i>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#UserTable').DataTable({
                stateSave: true,
                fixedHeader: true,
                "ordering": false
            });
        });
    </script>
}