@model ShiftHub.Models.HomeModels
@{
    /// Title
    ViewData["Title"] = "Brugere";

    /// Messages
    foreach (ShiftHub.Models.MessageModel.Message item in Model.Messages.aList)
    {
        <div class="alert alert-@item.Type.ToString().ToLower() sh-alert" role="alert">
            <span class="sh-alert-icon">
                @switch (item.Type.ToString())
                {
                    case "Info":
                        <i class="bi bi-info-circle"></i>
                        break;
                    case "Success":
                        <i class="bi bi-check-circle"></i>
                        break;
                    case "Warning":
                        <i class="bi bi-exclamation-circle"></i>
                        break;
                    case "Danger":
                        <i class="bi bi-exclamation-diamond"></i>
                        break;
                }
            </span>
            <span class="sh-alert-body">@item.Content</span>
            <button type="button" id="@item.UiD" class="btn-close ms-auto" data-bs-dismiss="alert" title="Luk"></button>
        </div>
        @if (item.Type.ToString() != "Danger")
        {
            <script type="text/javascript">
                setTimeout(function () {
                    document.getElementById('@item.UiD').click();
                }, @item.AutoClose);
            </script>
        }
    }
}

<div id="PopUpPlaceholder"></div>

<div class="container">
    <div class="sh-page-header">
        <i class="bi bi-people"></i>
        <span>Brugere</span>
    </div>
    <div class="sh-action-bar">
        <button type="button" class="btn lightButton sh-toolbar-btn" data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("AddStaff", "Home", new { })" title="Opret bruger">
            <i class="bi bi-person-add sh-icon-sm"></i>
        </button>
        <button type="button" class="btn lightButton sh-toolbar-btn" data-bs-toggle="ajax-modal" data-bs-url="@Url.Action("InportStaff", "Home", new { })" title="Inport brugere">
            <i class="bi bi-database-up sh-icon-sm"></i>
        </button>
        <a href="/Home/ExportStaff" class="btn lightButton sh-toolbar-btn" title="Export brugere" download>
            <i class="bi bi-database-down sh-icon-sm"></i>
        </a>
        <div class="sh-action-bar-right">
            <input class="form-control form-control-sm sh-search" type="text" id="staffFilterId" placeholder="Søg" onkeyup="staffUpdate()" />
        </div>
    </div>
    <div class="sh-table-wrapper">
        <table class="table" id="StaffList">
        </table>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript">
    staffUpdate();

    function staffUpdate() {
        $.ajax({
            type: "POST",
            url: "/Home/_StaffUpdate",
            data: { FilterValue: document.getElementById("staffFilterId").value }
        }).done(function (returned) {
            document.getElementById("StaffList").innerHTML = returned;

            var PlaceHolderElement = $('#PopUpPlaceholder');

            $('button[data-bs-toggle="staffUpdate-ajax-modal"]').click(function (event) {
                var url = $(this).data('bs-url');
                $.get(url).done(function (data) {
                    PlaceHolderElement.html(data);
                    PlaceHolderElement.find('.modal').modal('show');
                })
            })
        });
    }
    
</script>