<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShiftHub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShiftHub.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ShiftHub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity?.IsAuthenticated == true)
                        {
                            @if ($"{User.Claims.FirstOrDefault(x => x.Type == "GroupId")?.Value}" != "0" || 1 == 1)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Staff" title="">Brugere</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Planner" title="">Planlægger</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Registration" title="">Tilmelding</a>
                                </li>
                            }

                            <li class="nav-item dropdown ms-auto">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MyUser" title="">Min Bruger</a></li>
                                    <hr />
                                    @if (User.IsInRole("InCharge"))
                                    {
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="GroupUsers" title="">Brugere</a></li>
                                        <hr />
                                    }
                                    @if (User.IsInRole("Administrator"))
                                    {
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="aGroups" title="">Groups</a></li>
                                        <li><a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="aUsers" title="">Users</a></li>
                                        <hr />
                                    }
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout" title="Log ud af systemet">Logud</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (User.Identity?.IsAuthenticated == true)
    {
        <footer class="border-top footer text-muted" style="position: fixed; bottom: 0; width: 100%;">
            <div class="container">
                <table border="0" width="100%">
                    <tr>
                        <td align="left" valign="middle">
                            <div style="color: gray;">&copy; @DateTime.Now.Year.ToString() - Heine Ramskov</div>
                        </td>
                        <td align="right" valign="middle">
                            <div style="color: gray;">@if (String.IsNullOrEmpty((string?)ViewData["DisplayName"]) == false) { @ViewData["DisplayName"] } @if (string.IsNullOrEmpty((string?)ViewData["GroupName"]) == false) { @Html.Raw(" - ") @ViewData["GroupName"] }</div>
                        </td>
                    </tr>
                </table>
            </div>
        </footer>
    }

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
